# Ticket Service Database Configuration
TICKET_DB_USER=ticket_user
TICKET_DB_PASSWORD=ticket_pass
TICKET_DB_NAME=ticket_db
TICKET_DB_ROOT_PASSWORD=root
TICKET_DB_HOST=ticket-db
TICKET_SERVICE_PORT=8000
